/.cproject
/.idea
/.project
*.o
*.lo
*~
*.so
*.loT
/.deps
/.libs/
/CMakeFiles
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/install_manifest.txt
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.in
/Makefile.fragments
/Makefile.global
/Makefile.objects
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/acinclude.m4
/aclocal.m4
/autom4te.cache
/build
